<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184495089402-92o8qsg0qrhpkvk03ef28i41dbgtulbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184495089402-92o8qsg0qrhpkvk03ef28i41dbgtulbu</string>
	<key>API_KEY</key>
	<string>AIzaSyCly9JXqNCqB07T1tszR8kzXkZSFPGgzWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>184495089402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.socialcoin</string>
	<key>PROJECT_ID</key>
	<string>social-coin-bf80e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-coin-bf80e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184495089402:ios:e6a67048b9d213388b0b43</string>
</dict>
</plist>